* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .header *{
  z-index: -1;
  
} */
.header {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow: hidden;
  z-index: -1;
  /* pointer-events: none; */
}
.header .ellipses{
  width: 250px;
  height: 150px;
  top: 0;
  right: 0;
  position: absolute;
  
}

.header .ellipses .ellipse9{
  /* Ellipse 9 */
  position: absolute;
  width: 150px;
  height: 150px;
  left: 100px;
  bottom: 50px;
  /*right: -43px;*/
  background: #377AAF; 
  border-radius: 50%;
}
.header .ellipses .ellipse10{
  /* Ellipse 10 */
position: absolute;
width: 84px;
height: 84px;
top: 20px;
left: 40px;
background: #3BBBB3;
border-radius: 50%;
}
.header .ellipses .ellipse11{
/* Ellipse 11 */
position: absolute;
width: 64.5px;
height: 64.5px;
background: #377AAF;
border-radius: 50%;
}
.header .ellipse12{
  /* Ellipse 12 */
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0;
  top:-50px;
  left: -50px;
  /*right: -43px;*/
  background: #3BBBB3; 
  border-radius: 50%;
}

body {
    background-color: #ffffff;
}

.footer {
  color: gray;
  font-size: 12px;
  background-color: #DFF4F3;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 20px;
  position:fixed;
}

.footer p{
  display: inline;
  float: right;
  padding-right: 3%;
  padding-left: 3%;
  margin:0%;
}

.footer a{
  text-decoration: none;
  color: gray;
}
.footer a:link{
  text-decoration: none;
  color: gray;
  margin-left: 50px;
  }



.About h1{
  text-align: center;
}
.About p{
  text-align: justify;
  text-justify: newspaper;
}

.login {
    width: 400px;
    background-color: #DFF4F3;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 25px 25px;
    padding: 10px;
    margin-top: 150px;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #377AAF;
    color: #ffffff;
    border-radius: 25px;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 25px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #377AAF;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 25px;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.navtop {
  margin-top: 40px;
  padding-left: 30%;
	height: 70px;
	width: 100%;
}
.navtop div {
	width: 100%;
  height: 100%;
}

.navtop .navlinks{
  display: inline;
}
.navtop div a { 
	align-items: center;
}

.navtop div a {
	padding: 0 30px;
	text-decoration: none;
	color: #377AAF;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #3BBBB3;
}

body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: xx-large;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.content p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: x-large;
  color: #4a536e;
}

.flexbox{
  display: flex;
  align-content: center;
  padding: 50px 0;
}

.delete_account {
  margin-bottom: 50px;
}

div.delete{
  text-align: center;
}

.delete a{
  text-decoration: none;
  color: #4a536e;
  font-weight: bold;
  font-size: large;
  padding: 1%;
  background-color: lightgray;
  border-radius: 25px;
}

.register {
    width: 400px;
    background-color: #DFF4F3;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 25px 25px;
    padding: 10px;
    margin-top: 150px;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #dee0e4;

}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #377AAF;
    color: #ffffff;
    border-radius: 25px;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 25px;
}
.register form input[type="submit"] {
    width: 75%;
    padding: 15px;
    margin-top: 20px;
    background-color:#377AAF;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 25px;
}
.register form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.circle{
    border-radius: 50%;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1332px;
    top: -23px;
    background: #377AAF;
}




/* #######CALENDAR######### */

.container {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 50px;
    color: black;
  }
  
.calendar {
    background-color: white;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }

.loggedin .container .calender .month a {
    text-decoration: none;
    color: black;
  }
  
  .month {
    width: 100%;
    height: 7rem;
    background-color: #3BBBB3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 1.75rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.0rem;
  }
  
  .weekdays {
    width: 100%;
    height: 4rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    width: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    
  }
  
  .days div {
    font-size: 0.9rem;
    width: calc(100% / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;    
  }

  .days div a{
    text-decoration: none;
    color: black;
  }
  
  .days div:hover:not(.today) {
    border: 0.2rem solid #777;
    cursor: pointer;
  }

 .darkgreen{
    background-color: rgba(0, 100, 0, 0.3);
  }
  .green{
    background-color: rgba(144, 238, 144, 0.3);
  }
  .orange{
    background-color: rgba(255, 166, 0, 0.3);
  }
  .red{
    background-color: rgba(255, 0, 0, 0.3);
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #3BBBB3;
    border: 0.2rem solid #777;
  }

  .today:hover{
    border: 0.2rem solid #777;
  }

 a.fill-calendarday{
     text-align: center;
     height: 100%;
     width: 100%;
     text-decoration: none;
     font-size: 0.9rem;
     font-size: 0.9rem;
     margin: 0.3rem;
     width: calc(100% / 7);
     height: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
     transition: background-color 0.2s;
     color: black;
 }

/* Questionnaire*/
.quest {
  background-color: #f1f1f1;
}
#regForm {
  background-color: #ffffff;
  margin: 150px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

.quest h1 {
  text-align: center;  
  font-size: xx-large;
}

.quest input {
  padding: 10px;
  width: auto;
  font-size: large;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.quest input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.quest .tab {
  display: none;
}

.quest button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: large;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 30px;
}

.quest button:hover {
  opacity: 0.5;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.quest .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.quest .step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.quest .step.finish {
  background-color: #4CAF50;
}
.quest .stepper_button{
    font-size: 50px;
    background-color:white;
    width: auto;
    border: none;
}

.quest .form-radio{
    text-align: center;
    font-size: xx-large;
}

.quest .radio-item{
    align-items: center;
    font-size: xx-large;
}
.quest .slider{
    width: 100%;
}

.quest .hidden{
    visibility: hidden;
}

.quest label{
  font-size: xx-large;
}

.quest input:checked + label {
    padding: 5px;
    background-color: #4CAF50;
    border-style:initial;
    border-width: 5px;
    border-color: #4CAF50;
    border-radius: 20px;
}

 /* ########chart and Statistics####### */

.overall_stat{
  display: flex;
  height: 100vh;
}

.statistic_header{
  text-align: center;
  color: #377AAF ;
  font-size: 36px;
}

.line_chart{
    flex-grow:1;
    flex-basis: 0;
}

.donut_chart{
  flex-grow:1;
  flex-basis: 0; 

}
.last_week_stat{
  display: flex;
}

.last_week_stat h1{
  text-align: center;
  color: #377AAF ;
  font-size: 36px;

}

.donut_small{
  flex-grow: 1;
  flex-basis: 0;
}

/* ######################FIRST SCREEN LOGIN OR REGISTER############################## */
.welcome{
  align-items: center;
  text-align: center;
}
.welcome h1{
    text-align: center;
    color: #3BBBB3;
    font-size: 50px;
    padding: 50px 0 20px 0;
}

.welcome p{
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 150px 50px 150px;
}

.welcome .login{
  text-align: center;
  background-color: #3BBBB3;
  margin-right: 10px;
}

.welcome a{
  text-decoration: none;
  color:white;
  font-weight: 600;
  font-size: x-large;
  padding: 10px 20px 10px 20px;  
}

.welcome a:hover{
  background-color:#377AAF ;
}

.welcome .register{
  text-align: center;
  background-color: #3BBBB3;
  margin-left: 10px;
}

@media only screen and (max-width: 950px){
   
  .navtop {
    padding-left: 15%;
    height: 70px;
    width: 100%;
  }
}

@media only screen and (max-width: 800px){

  /* Adjust ellipses size /Header */
  .header .ellipses{
    width: 180px;
    height: 100px;
    top: 0;
    right: 0;
    position: absolute;
    
  }
  
  .header .ellipses .ellipse9{
    /* Ellipse 9 */
    position: absolute;
    width: 100px;
    height: 100px;
    left: 80px;
    bottom: 30px;
    /*right: -43px;*/
    background: #377AAF; 
    border-radius: 50%;
  }
  .header .ellipses .ellipse10{
    /* Ellipse 10 */
  position: absolute;
  width: 64px;
  height: 64px;
  top: 10px;
  left: 30px;
  background: #3BBBB3;
  border-radius: 50%;
  }
  .header .ellipses .ellipse11{
  /* Ellipse 11 */
  position: absolute;
  width: 44.5px;
  height: 44.5px;
  background: #377AAF;
  border-radius: 50%;
  }
  .header .ellipse12{
    /* Ellipse 12 */
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top:-30px;
    left: -30px;
    /*right: -43px;*/
    background: #3BBBB3; 
    border-radius: 50%;
  }

  /* Adjust register size */
  .register{
    width: 300px;
    margin-top: 150px;
  }

  .register form {
      padding-top: 15px;
  }

  .register form label {
      width: 35px;
      height: 35px;
      margin: 2px;
  }
  .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
      width: 240px;
      height: 35px;
      margin-bottom: 10px;
  }
  .register form input[type="submit"] {
      padding: 10px;
      margin-top: 15px;
  }

/* Ajust login size */
  .login {
    width: 300px;
    margin-top: 150px;
  }
  .login form {
      padding-top: 15px;
  }
  .login form label {
      width: 35px;
      height: 35px;
      margin: 2px;
  }
  .login form input[type="password"], .login form input[type="text"] {
      width: 240px;
      height: 35px;
      margin-bottom: 10px;
  }
  .login form input[type="submit"] {
      padding: 10px;
      margin-top: 15px;
  }
/*Adjust calender and Statistic on home*/

  .flexbox {
    flex-direction: column;
  }

  .overall_stat{
    flex-direction: column;
  }

  .last_week_stat{
    flex-direction: column;
  }

  /* adjust quest*/
  #regForm {
    margin: 120px auto;
    padding: 20px;
  }
  .quest h1 {
    text-align: center;  
    font-size: x-large;
  }
  .quest label{
    font-size: x-large;
  }
  

  /* adjust Quest feedback*/

  .content {
    width: 300px;
    margin: 0 auto;
  }
  .content h2 {
    font-size: x-large;
  }

  .content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
  }
  
  .content p {
    font-size: large;
  }

  /* adjust index html */
  .welcome p{
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 50px 50px 50px;
}

/*adjust footer*/

.footer{
  font-size: 8px;
}
.footer p{
  padding-right: 2%;
  padding-left: 2%;
}
.footer a{
  text-decoration: none;
  color: gray;
}
.footer a:link{
  text-decoration: none;
  color: gray;
  margin-left: 15px;
  }

.navtop {
  margin-top: 20px;
  padding-left: 10%;
  height: 70px;
  width: 100%;
}
}

@media only screen and (max-width: 670px){
  .navtop {
    margin-top: 5px;
    padding-left: 30%;

  }
  .navtop .navlinks{
    display: block;
    height: 20px;
  }
  .navtop div a {
    font-size: 14px;
    padding: 0 15px;
  }
}