* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header{

}
body {
    background-color: #ffffff;
}

.footer {
  color: gray;
  font-size: 12px;
  background-color: #DFF4F3;
  display: block;
  float:initial;
  width: 49.9%;
  bottom: 0;
  text-align: left;
  left: 0;
}

.About{
  text-decoration: none;
  color: gray;
  font-size: 12px;
  background-color: #DFF4F3;
  width: 50.1%;  
  display: block;
  bottom: 0;
  text-align: right;
  right: 0;
  float: initial;
}

.header-about{
color: #fff;
text-align: center;
}


.login {
    width: 400px;
    background-color: #DFF4F3;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 25px 25px;
    padding: 10px;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #377AAF;
    color: #ffffff;
    border-radius: 25px;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 25px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #377AAF;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 25px;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

.register {
    width: 400px;
    background-color: #DFF4F3;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 25px 25px;
    padding: 10px;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #3BBBB3;

}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #377AAF;
    color: #ffffff;
    border-radius: 25px;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 25px;
}
.register form input[type="submit"] {
    width: 75%;
    padding: 15px;
    margin-top: 20px;
    background-color:#377AAF;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 25px;
}
.register form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.circle{
    border-radius: 50%;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1332px;
    top: -23px;

    background: #377AAF;
}




/* #######CALENDAR######### */

.container {
    padding-left: 50px ;
    padding-right: 50px;
    width: 50%;
    float:left;
    height: 90vh;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: auto;
    height: auto;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 7rem;
    background-color: #3BBBB3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 1.75rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.0rem;
  }
  
  .weekdays {
    width: 100%;
    height: 4rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(34.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 0.9rem;
    margin: 0.3rem;
    width: calc(30.2rem / 7);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #3BBBB3;
  }

 a.fill-calendarday{
     text-align: center;
     height: 100%;
     width: 100%;
     text-decoration: none;
     font-size: 0.9rem;
     font-size: 0.9rem;
     margin: 0.3rem;
     width: calc(30.2rem / 7);
     height: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
     transition: background-color 0.2s;
     color: white;
 }


 /* ########chart and Statistics####### */

.overall_stat{
  width:100%;
  height: 100vh;
}

.overall_stat h1{
  text-align: center;
  color: #377AAF ;
  font-size: 36px;
}


.line_chart{
    float:right;
    width: 50%;
    height: 80vh;
    padding-top: 2rem;
}

.donut_chart{
  float:left;
  width: 40%;
  height: 80vh;
  padding-top: 2rem;  
}
.last_week_stat{
  width:100%;
  height: 100vh;
}

.last_week_stat h1{
  text-align: center;
  color: #377AAF ;
  font-size: 36px;

}

.donut_sleep{
  float:left;
  width: 25%;
  height: 60vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.donut_sports{
  float:left;
  width: 25%;
  height: 60vh;
  padding-top: 5rem;
  padding-bottom: 5rem;

}

/* ######################FIRST SCREEN LOGIN OR REGISTER############################## */
.welcome{
  align-items: center;
  text-align: center;
}
.welcome h1{
    text-align: center;
    color: #3BBBB3;
    font-size: 50px;
    padding: 20px 0 20px 0;
}

.welcome p{
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 150px 50px 150px;
}

.welcome .login{
  text-align: center;
  background-color: #3BBBB3;
  margin-right: 10px;
}

.welcome a{
  text-decoration: none;
  color:white;
  font-weight: 600;
  font-size: x-large;
  padding: 10px 20px 10px 20px;  
}

.welcome a:hover{
  background-color:#377AAF ;
}

.welcome .register{
  text-align: center;
  background-color: #3BBBB3;
  margin-left: 10px;
}
